$color-base-font: #3C3C3C;
$color-column-numbers: #5E5322;
$color-base-yellow: #FAD648;
$color-light-grey: #737373;
$color-medium-grey: #707070;
$color-dark-green: #5E5322;
$color-black: #000000;
$color-white: #FFFFFF;
$color-background-grey: #F0F1F1;