@import "../main";

.about__section {
  background-image: url("../../assets/people.jpg");
  background-repeat: no-repeat;
  background-position: 59rem;
  display: flex;
  background-color: $color-background-grey;
  max-width: 100vw;
  min-height: 58.5rem;

  .about__text {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    max-width: 40rem;
    margin-left: 8rem;

    h2 {
      font-size: 2.4rem;
      text-align: center;
      margin-bottom: 1.5rem;
    }

    p {
      margin-top: 1.5rem;
      font-size: 1.9rem;
      text-align: center;
      line-height: 3rem;
    }

    .img__deco {
      padding: 2rem 0 4rem 0;

    }

    .img__signature {
      margin-left: 28rem;
      margin-top: 3rem;
    }
  }
}