@import "../main";

.btn {
  font-size: 2rem;
  text-align: center;
  padding: 1rem 2rem;
  border: 0.75px solid $color-base-font;
  font-weight: normal;
  background-color: transparent;
  max-width: 18rem;
  margin: 3rem 1rem 0 1rem;
  text-transform: uppercase;
  text-decoration: none;
  color: $color-base-font;
  white-space: normal;
  word-wrap: break-word;
}