@import "../main";
.text__section {
  .h1 {
    font-size: 2.4rem;
    text-align: center;
    color: $color-base-font;
  }
}
.contact__section {
  overflow: hidden;
  position: relative;
  width: 100%;
  min-height: 64rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;

  &::before {
    content: "";
    background-image: url("../../assets/background-contact-form.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    opacity: 0.3;
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
  }

  form {
    margin-right: 15rem;

    .data__info {
      display: flex;
    }

    label {
      display: flex;
      flex-direction: column;
    }

    input {
      border: none;
      border-bottom: 1px solid $color-base-font;

    }

    textarea {
      border: none;
      border-bottom: 1px solid $color-base-font;
    }
  }
}