@import "../main";

footer {
  //margin-top: 2em;
  //padding-bottom: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  position: relative;
  .footer__icons {
    margin-bottom: 1rem;
    position: absolute;
    right: 5%;
  }
  .footer__text {
    margin-top: 0.5rem;
    text-align: center;
    font-size: 1.1rem;
    line-height: 1.5rem;
    color: $color-medium-grey;
  }
}
