@import "../main";

.header {
  background-image: url("../../assets/home-hero-image.jpg");
  background-repeat: no-repeat;
  background-position: -29rem 0.1rem;
}

.header__container {
  display: inline-block;
  width: 100%;
  min-height: 60rem;

  .login__container {
    display: flex;
    justify-content: flex-end;
    margin: 0.625rem 6rem 0 2rem;
    font-size: 0.9rem;
    color: $color-light-grey;

  }

  .menu__container {
    display: flex;
    justify-content: flex-end;
    margin: 0.625rem 6rem 0 2rem;
    font-size: 1.1rem;
    color: $color-base-font;
  }

  .menu__link-log {
    padding: 1rem 0.5rem 0.5rem 1rem;
    text-decoration: none;
    color: $color-base-font;
    min-width: 5.5rem;
    min-height: 1.5rem;
    text-align: center;
    border: 0.75px solid transparent;

    &:hover {
      border: 0.75px solid $color-base-yellow;
      transition: 0.4s;
    }
  }

  .menu__link {
    padding: 1rem 0.5rem 0.5rem 1rem;
    margin-left: 2rem;
    text-decoration: none;
    color: $color-base-font;
    min-width: 5rem;
    min-height: 1.5rem;
    text-align: center;
    border: 0.75px solid transparent;

    &:hover {
      border: 0.75px solid $color-light-grey;
      transition: 0.4s;
    }
  }
}
.hero__container {
  width: 100%;
  height: 85vh;
  display: flex;
  justify-content: flex-end;
  text-align: center;
  position: relative;
  .hero__text {
    display: inline-block;
    z-index: 10;
    font-size: 2.4rem;
    letter-spacing: 0.2px;
    line-height: 3.5rem;
    margin-top: 12rem;
    margin-right: 17rem;
  }

}
