@import "../main";

.header {
  background-image: url("../../assets/home-hero-image.jpg");
  background-repeat: no-repeat;
  background-position: -29rem 0;

  .header__container {
    width: 100%;
    min-height: 60rem;
  }

  .nav {
    display: flex;
    flex-direction: column;

    .login__bar {
      font-size: 0.9rem;
      display: flex;
      justify-content: flex-end;

      .login__bar-item {
        padding: 0.3em;
        cursor: pointer;

        a {
          padding: 5px 10px;
          text-decoration: none;
          color: $color-light-grey;

          &:hover {
            border-bottom: 0.5px solid $color-base-yellow;
            transition: 0.2s;
          }
        }
      }
    }

    .navbar {
      display: flex;
      justify-content: flex-end;
      font-size: 1.12rem;
      color: $color-base-font;

      .navbar__item {
        border: 0.75px solid transparent;
        padding: 0.5rem 1rem;
        cursor: pointer;

        &:hover {
          color: $color-base-yellow;
          transition: 0.4s;
        }

        &:first-child {
          border: 0.75px solid $color-base-font;

          &:hover {
            border: 0.75px solid $color-base-yellow;
            transition: 0.3s;
          }
        }
      }
    }
  }
}

