@import "../main";
.hero__buttons {
  display: flex;
}
.hero__container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  text-align: center;
  position: relative;

  .hero__text {
    display: inline-block;
    z-index: 10;
    font-size: 2.4rem;
    letter-spacing: 0.2px;
    line-height: 3.5rem;
    margin-top: 3rem;
    margin-right: 5rem;
  }
}

