@import "../main";

.steps__section {
  width: 100%;
  height: 100%;
  .title {
    margin-bottom: 1.5rem;
    h2{
      padding: 0.5rem;
    }
  }
  .steps__icon {
    padding: 5em;
    display: flex;
    justify-content: space-around;
  }
    .step {
      color: $color-medium-grey;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 0.3em;
      .step__img {
        margin-bottom: 0.3em;
      }
      .step__title {
        max-width: 7rem;
        text-align: center;
        font-size: 1.1rem;
        margin-bottom: 0.3em;
        padding: 0.3rem 4rem;
        line-height: 1.5rem;
      }
      .steps__text {
        max-width: 10rem;
        text-align: center;
        margin-bottom: 2rem;
        h2 {
          margin-bottom: 2rem;
        }
      }
      .step__deco {
        width: 4.375rem;
        border: 1px solid $color-light-grey;
        margin-bottom: 0.3em;
      }
  }
  .step__button{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 6rem;
  }
  .steps__text {
    padding-top: 4rem;
    font-size: 2.4rem;
    text-align: center;
    .step__img{
      margin-bottom: 0.3rem;
  }
  }
  .steps__icon {
    background-color: $color-background-grey;
    display: flex;
    justify-content: center;
    padding: 1rem;
    .icon {
      padding: 2rem;
      text-align: center;
      img {
        margin-bottom: 2rem;
      }
    }
  }
}
