@import "../main";

.steps__section {
  width: 100%;
  height: 100%;
  .step__button{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 6rem;
  }
  .steps__text {
    padding-top: 4rem;
    font-size: 2.4rem;
    text-align: center;
    img{
      padding: 2rem;
  }
  }
  .steps__icon {
    background-color: $color-background-grey;
    display: flex;
    justify-content: center;
    padding: 1rem;
    .icon {
      padding: 2rem;
      text-align: center;
      img {
        margin-bottom: 2rem;
      }
    }
  }
}
