@import "../main";

.title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 1.5rem;
  h2{
    padding: 0.5rem;
    font-size: 2.4rem;
    text-align: center;
  }
}
