@import "settings/fonts";
@import "settings/colors";
@import "settings/reset";
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700;900&family=Open+Sans:wght@300;400;600;700;800&display=swap');

body {
  font-family: $font-base;
  color: $color-base-font;
}